## **Question - 1:**

#### How to import pandas and check the version?
.

In [1]:
# import pandas
import pandas as pd

# print version of pandas
print(pd.__version__)

1.1.4

## **Question - 2**

#### How to create a series from a numpy array?

In [2]:
# import numpy 
import numpy as np
# import pandas
import pandas as pd


array = np.array(['Tom','Jack','Eric']) 
  
# creating series from array 
series = pd.Series(array) 
print(series)

0     Tom
1    Jack
2    Eric
dtype: object

## **Question - 3:**

#### How to convert the index of a series into a column of a dataframe?

In [3]:
# import numpy 
import numpy as np
# import pandas
import pandas as pd

array = np.array(['Tom','Jack','Eric']) 
  
# create series for array with  index 
series = pd.Series(array, index = [1, 2, 3]) 

# convert series to dataframe 
df = series.to_frame().reset_index() 
  
# show the dataframe 
print(df)

   index     0
0      1   Tom
1      2  Jack
2      3  Eric

## **Question - 4:**

#### Write the code to list all the datasets available in seaborn library.
#### Load the 'mpg' dataset

In [ ]:
# import seaborn
import seaborn as sns

mpg = sns.load_dataset('mpg')

print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

## Question - 5:

#### Which country origin cars are a part of this dataset?

In [ ]:
# importing seaborn
import seaborn as sns
# importing pandas with alias name
import pandas as pd

# loading the dataset from seaborn
mpg=sns.load_dataset('mpg')

# creating a dataframe
df = pd.DataFrame(mpg)

# Displaying the country origin from where cars belong
df.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

## Question - 6:

##### Extract the part of the dataframe which contains cars belonging to 'usa'

In [ ]:
# importing seaborn
import seaborn as sns
# importing pandas with alias name
import pandas as pd

# loading the dataset from seaborn
mpg=sns.load_dataset('mpg')

# creating a dataframe
df = pd.DataFrame(mpg)

# Displaying the part from dataframe where cars belong to "usa"
df[df['origin'].str.contains("usa")]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]